{% include 'home.html.twig' %}

<h2 class="alMedio text-center"> Agregar/quitar permisos a {{datos.nombreRol}} </h2>
<br>
<div class="row container-fluid">
	<div class="col-1"></div>
	<div class="col-4 text-center">
		<h4>Permisos actuales</h4>
		<ul class="list-group ">
			{% for permiso in datos.permisosDelRol %}
				<li class="list-group-item row d-flex text-center">
					<div class="col-5">{{ permiso.nombre }}</div>
					<div class="col-2"></div>
					<div class="col-5">
						<form method="POST" action="index.php?action=desasignarPermiso">
							<input type="hidden" name="id_permiso" value="{{permiso.id}}">
							<input type="hidden" name="nombre_rol" value="{{datos.nombreRol}}">
							<input type="hidden" name="id_rol" value="{{datos.id_rol}}">
							<button class="btn btn-danger">Desasignar</button>
						</form>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-2"></div>
	<div class="col-4 text-center">
		<h4>Resto de permisos</h4>
		<ul  class="list-group">
			{% for permiso in datos.permisos %}
				<li class="list-group-item row d-flex text-center">
					<div class="col-5">{{ permiso.nombre }}</div>
					<div class="col-2"></div>
					<div class="col-5">
						<form method="POST" action="index.php?action=asignarPermiso">
							<input type="hidden" name="id_permiso" value="{{permiso.id}}">
							<input type="hidden" name="nombre_rol" value="{{datos.nombreRol}}">
							<input type="hidden" name="id_rol" value="{{datos.id_rol}}">
							<button class="btn btn-success">Asignar</button>
						</form>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-1"></div>
</div>